# [Customer-Shopping-Latest-Trends-Dataset](https://www.kaggle.com/datasets/bhadramohit/customer-shopping-latest-trends-dataset)

In [104]:
import pandas as pd

## Read Data

In [105]:
df = pd.read_csv("./data/shopping_trends.csv")

## Explore Data

In [106]:
df.head(2)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly

In [107]:
df.tail(2)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [109]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [110]:
df.describe(include='O')

,Gender,Item Purchased,Category,Location,Size,Color,Season,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Preferred Payment Method,Frequency of Purchases
count,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900
unique,2,25,4,50,4,25,4,2,6,6,2,2,6,7
top,Male,Blouse,Clothing,Montana,M,Olive,Spring,No,Credit Card,Free Shipping,No,No,PayPal,Every 3 Months
freq,2652,171,1737,96,1755,177,999,2847,696,675,2223,2223,677,584

## Check For Missing or Duplication

> - Missing : 0
>
> - Duplication : 0

In [111]:
df.isna().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [112]:
df.duplicated().sum()

0

## DataTypes Changing

- Replace Yes, No Values with 1, 0

In [113]:
df["Discount Applied"] = df["Discount Applied"].map({"Yes":1,"No":0})
df["Promo Code Used"] = df["Promo Code Used"].map({"Yes":1,"No":0})
df["Subscription Status"] = df["Subscription Status"].map({"Yes":1,"No":0})

- Show The Number And Labels For Unique Values Of All Columns

In [114]:
df.apply(lambda x: f"{x.dtype} {x.nunique()} {x.unique()}")

Customer ID                    int64 3900 [   1    2    3 ... 3898 3899 3900]
Age                         int64 53 [55 19 50 21 45 46 63 27 26 57 53 30 ...
Gender                                             object 2 ['Male' 'Female']
Item Purchased              object 25 ['Blouse' 'Sweater' 'Jeans' 'Sandals...
Category                    object 4 ['Clothing' 'Footwear' 'Outerwear' 'A...
Purchase Amount (USD)       int64 81 [ 53  64  73  90  49  20  85  34  97 ...
Location                    object 50 ['Kentucky' 'Maine' 'Massachusetts' ...
Size                                              object 4 ['L' 'S' 'M' 'XL']
Color                       object 25 ['Gray' 'Maroon' 'Turquoise' 'White'...
Season                           object 4 ['Winter' 'Spring' 'Summer' 'Fall']
Review Rating               float64 26 [3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4....
Subscription Status                                             int64 2 [1 0]
Payment Method              object 6 ['Credit Card' 'Bank Transfer' 'Cash'...
Shipping Type               object 6 ['Express' 'Free Shipping' 'Next Day ...
Discount Applied                                                int64 2 [1 0]
Promo Code Used                                                 int64 2 [1 0]
Previous Purchases          int64 50 [14  2 23 49 31 19  8  4 26 10 37 34 ...
Preferred Payment Method    object 6 ['Venmo' 'Cash' 'Credit Card' 'PayPal...
Frequency of Purchases      object 7 ['Fortnightly' 'Weekly' 'Annually' 'Q...
dtype: object

## Some Information

> Most Common Color That People like to wear is `Yellow`

In [115]:
df["Color"].max()

'Yellow'

> Price Range `[20 :100] (USD)`

In [116]:
df["Purchase Amount (USD)"].agg(func= ["min", "max"])

min     20
max    100
Name: Purchase Amount (USD), dtype: int64

> Percentage of Discount Applied `43%`

In [117]:
f"{int(df['Discount Applied'].mean()*100)}%"

'43%'

> Preferred Payment Method and most used : `Venmo`

In [118]:
df[["Preferred Payment Method","Payment Method"]].agg("max")

Preferred Payment Method    Venmo
Payment Method              Venmo
dtype: object

> Customer Age Range `[18 :70] (Year)`

In [119]:
df["Age"].agg(func= ["min", "max"])

min    18
max    70
Name: Age, dtype: int64

> - Number of Subscribers : `1053`
> - The Average of the Subscribers Customers : `27%`

In [120]:
df["Subscription Status"].agg(func= ["mean", "sum"])

mean       0.27
sum     1053.00
Name: Subscription Status, dtype: float64

In [121]:
df.max()

Customer ID                         3900
Age                                   70
Gender                              Male
Item Purchased                   T-shirt
Category                       Outerwear
Purchase Amount (USD)                100
Location                         Wyoming
Size                                  XL
Color                             Yellow
Season                            Winter
Review Rating                        5.0
Subscription Status                    1
Payment Method                     Venmo
Shipping Type               Store Pickup
Discount Applied                       1
Promo Code Used                        1
Previous Purchases                    50
Preferred Payment Method           Venmo
Frequency of Purchases            Weekly
dtype: object